body,
html {
  margin: 0;
  height: 100%;
  background-color: blanchedalmond;
  font-family: "Lato", sans-serif;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  font-family: "Lato", sans-serif;
}

.main-header {
  background-color: white;
}

.nav-menu-container {
  display: flex;
  align-items: center;
}

.container {
  max-width: 1400px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.txt-link {
  color: #292929;
  padding: 30px 0 31px;
  display: inline-block;
  transition: all 0.3s ease;
}

.txt-link:hover {
  box-shadow: inset 0px -2px 0 0 green;
}

.item-link {
  margin-right: 72px;
  color: $black;
  &--red {
    color: red;
  }
  &--black {
    color: black;
  }
  &--blue {
    color: blue;
  }
}

.item:nth-child(2) {
  animation: dsfs 0.3s 0.2s ease backwards;
}

.item:nth-child(3) {
  animation: dsfs 0.3s 0.4s ease backwards;
}

.item:nth-child(4) {
  animation: dsfs 0.3s 0.6s ease backwards;
}
