$main-color: #d4e9eb;
$shadow-color: rgba(52, 43, 133, 0.219);
$circle-anim: 2s infinite ease-in;
$circle-container: 100px;
$circle-diameter: 20px;
$circle-translate: $circle-container - $circle-diameter;

body {
  background-color: $main-color;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.txt {
  display: inline-block;
  &--center {
    text-align: center;
  }
  &--white {
    color: $main-color;
  }
  &--hover:hover {
    transition: filter 0.6s ease;
    cursor: pointer;
  }
  &-anim {
    &__inner {
      animation: shadow_anim 2.8s ease-in alternate infinite;
    }
    @for $i from 1 through 9 {
      &__inner:nth-child(#{$i}) {
        animation-delay: #{$i / 9 + 0.6}s;
      }
    }
  }
  &-anim-dna {
    &__inner {
      animation: shadow_anim 2.8s linear alternate infinite;
    }
    @for $i from 1 through 3 {
      &__inner:nth-child(#{$i}) {
        animation-delay: #{$i / 3.14 * 1.5}s;
      }
    }
  }
}

.dna-wrap {
  display: flex;
  justify-content: center;
  height: 50%;
  align-items: center;
}

.dna {
  perspective: 1000px;
  display: flex;
  animation: rotation_anim 14s ease alternate infinite;
  filter: drop-shadow(0px 40px 10px black);
  &__row {
    width: 30px;
    height: $circle-container;
    position: relative;
  }
}

.circle {
  width: $circle-diameter;
  height: $circle-diameter;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  &:nth-child(1) {
    top: 0;
    background-color: rgb(92, 107, 240);
    animation: circle_anim_1 $circle-anim;
  }
  &:nth-child(2) {
    bottom: 0;
    background-color: rgb(247, 103, 84);
    animation: circle_anim_2 $circle-anim;
  }
}

@for $i from 1 through 24 {
  .dna__row:nth-child(#{$i}) {
    .circle:nth-child(1) {
      animation-delay: #{($i / 10) - 0.1}s;
    }
    .circle:nth-child(2) {
      animation-delay: #{($i / 10) - 0.1}s;
    }
  }
}

.pt {
  &-10 {
    padding-top: 20px;
  }
}

.title {
  &-1 {
    font-size: 90px;
  }
}

@keyframes shadow_anim {
  0% {
    filter: drop-shadow(0px 0px 0px transparent) blur(0);
  }
  50% {
    filter: drop-shadow(5px 16px 10px $shadow-color) blur(6px);
  }
  100% {
    filter: drop-shadow(10px 10px 0px $shadow-color) blur(0px);
  }
}

@keyframes circle_anim_1 {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, $circle-translate);
  }
}

@keyframes circle_anim_2 {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -$circle-translate);
  }
}

@keyframes rotation_anim {
  0% {
    transform: rotate(0);
    filter: drop-shadow(0px 80px 10px black);
  }
  50% {
    filter: drop-shadow(0px -80px 10px black);
  }
  100% {
    transform: rotate(360deg);
    filter: drop-shadow(0px 80px 10px black);
  }
}
