extends ../layouts/layout.pug
block vars
	-var title = 'Main page'
	-var description = 'This is main page'
block content
	.txt--center.txt-anim-dna.txt--hover.pt-10
		each val in ['D', 'N', 'A']
			span.txt.txt--center.txt--white.title-1.txt-anim-dna__inner= val
	.txt--center.txt-anim.txt--hover.pt-10
		each val in ['a', 'n', 'i', 'm', 'a', 't', 'i', 'o', 'n']
			span.txt.txt--center.txt--white.title-1.txt-anim__inner= val
	.dna-wrap
		.dna
			.dna__row
				.circle
				.circle
			.dna__row
				.circle
				.circle
			.dna__row
				.circle
				.circle
			.dna__row
				.circle
				.circle