extends ../layouts/layout.pug
block vars 
	-var title = 'Main page'
	-var description = 'This is main page'
block content
	header.main-header
		.container.container-flex
			nav.nav-menu 
				ul.nav-menu-container
					li.item-logo 
						a(href="#")
							object(type="image/svg+xml" data="../../assets/svg/logo.svg")
					li.item-link
						a.txt-link(href="$") Why Alivio
					li.item-link
						a.txt-link(href="$") Solutions
					li.item-link
						a.txt-link(href="$") Community
					li.item-link
						a.txt-link(href="$") Pricing
			div.nav-menu-auth
				button.btn Sign-in
				button.btn Start Trial